$color-pri:  #FFFFFF;
$color-bg-sec:  rgba(51, 51, 51, 1);
$color-bg-hover:  rgba(51, 51, 51, 0.9);
$color-font-pri:  rgba(20, 20, 20, 0.9);
$color-font-sec:  #DDDDDD;
$font-family:  "HP Simplified Light", "Helvetica", Arial, sans-serif;
$font-family-url:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-base:  16px;

$heading-ex: 50px;
$heading: 40px;
$h1: 35px;
$h2: 30px;
$h3: 25px;
$h4: 22px;
$font-base-lg: 18px;

$margin-lg: 150px;
$margin-md: 100px;
$margin-semi-md: 70px;
$margin-sm: 50px;
$margin-ex-sm: 20px;

$padding-lg: 150px;
$padding-md: 100px;
$padding-semi-md: 70px;
$padding-sm: 50px;
$padding-ex-sm: 20px;

$extraMedium: 1100px;
$medium: 900px;
$semiMedium: 700px;
$small: 550px;
$extraSmall: 450px;
$transition: all 0.3s ease-in-out;

.productlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-left: $margin-sm;
    @media screen and (max-width: $medium) {
        grid-template-columns: 1fr 1fr;
        
    }
    @media screen and (max-width: $semiMedium) {
        margin-left: 0;
    }
    @media screen and (max-width: $small) {
        grid-template-columns: 1fr;
    }
}